* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: poppins;
}
nav{
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}
nav > h1{
  color: #fc2d34;
}
.logo{
  width: 80px;
  height: 60px;
  margin-right: -20px;
}
